<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="HSBc 2017" src="/images/helmes-logo-white.svg" height="20">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
					{% if session.login %}
					<li><a href="/booking">Bookings List</a></li>
					{% endif %}
					
                    <li><a href="/booking/add" id="go_to_new_booking">New Booking</a></li>

                    {% if session.login %}
                    <li><a href="/garage">Garages List</a></li>
                    <li><a href="/garage/add">New Garage</a></li>
                    {% endif %}

                    {# Statistics is visible only for admin #}
                    {% if session.login == 'admin' %}
                    <li><a href="/stats">Statistics</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if session.login %}
                        <li><p class="navbar-text"><b>Welcome, {{ session.login }}!</b></p></li>
                        <li><a href="/login/exit">Exit</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

{#{{ dump(session) }}#}

{% if session.errors or session.success_msgs %}
<div class="col-md-10 col-md-offset-1">
    {% if session.success_msgs %}
        {% for success_msg in session.success_msgs %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ success_msg }}
            </div>
        {% endfor %}
    {% endif %}

    {% for error in session.errors %}
    <div class="alert alert-danger alert-dismissable" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{ error }}
    </div>
    {% endfor %}
</div>
{% endif %}
