{% extends "index.twig" %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>This is an error page. <br><br><a href="/">Go to the main page >>> </a></h1>
        </div>
    </div>
</section>
{% endblock %}
